* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: "Dancing Script", serif;
    background-color: #F5F3FF;
    color: #000;
}


/* Header Styles */
.header-wrapper {
    background-color: rgba(230, 240, 255, 0.5) !important;
}

.container {
    max-width: 100% !important;
    padding-left: 10 px !important;
    padding-right: 10px !important;
}

.gradient-text {
    background: -webkit-linear-gradient(90deg, #457b9d, #FE68AE);
    font-size: 18px;
    font-weight: bolder;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Dropdown Toggle Button */
.dropdown-toggle {
    border: 1px solid #1D3557 !important;
    background-color: #efefef !important;
    padding: 0.5rem 1rem !important;
    border-radius: 0.25rem !important;
}

/* Custom Buttons */
.btn-custom {
    background-color: #1D3557 !important;
    color: #FFFFFF !important;
    border: none !important;
}

.btn-custom:hover {
    background-color: #1d355797 !important;
}

/* Hover Effects for Dropdown Toggle */
.dropdown:hover>.dropdown-toggle {
    font-size: 17px;
}

.dropdown-toggle:hover .p-style {
    color: #fe68ae;
}


/* Fixed image Styles */
.fixed-img {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-attachment: fixed;
}

.aboutbg {
    background-image: url(../images/aboutbg.png);
}

.achievements {
    background-image: url(../images/achievements.png);
}

/* featured-works Styles */
.work-card {
    position: relative;
    min-height: 450px;
    background-color: #fff !important;
    border: none !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66) !important;
    overflow: hidden;
}

.work-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px 10px 0 0 !important;
}

.work-card .work-body {
    padding: 1rem;
}

.work-card .work-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-card .work-title,
.work-description {
    color: #1D3557 !important;
}

.work-card .work-button {
    background-color: #1D3557 !important;
    border: none !important;
    color: #fff !important;
    padding: 0.5rem;
    border-radius: 5px;
}

.work-card::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: #fe68ae;
    opacity: 0.3;
    transition: 1s;
}

.work-card:hover::after {
    width: 100%;
    height: 100%;
}

.work-card::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    background-color: #fe68ae;
    opacity: 0.3;
    transition: 1s;
}

.work-card:hover::before {
    width: 100%;
    height: 100%;
}

/* Thank you cards Styles */
.thank-you-card {
    width: 100% !important;
}

.custom-container {
    width: 90% !important;
    margin: 2rem auto !important;
}

.card-bg {
    border: none !important;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
    overflow: hidden !important;
    border-radius: 20px !important;
    min-height: 450px !important;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2) !important;
}

.card-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
    background-size: 120% !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.card-bg:before {
    content: "" !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background: inherit !important;
    -webkit-filter: grayscale(1) !important;
    -moz-filter: grayscale(100%) !important;
    -ms-filter: grayscale(100%) !important;
    -o-filter: grayscale(100%) !important;
    filter: grayscale(100%) !important;
}

.card-bg:hover {
    transform: scale(0.9) !important;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3) !important;
    background-size: 130% !important;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.card-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) !important;
    background: #234f6d !important;
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%) !important;
}

.card .card-footer {
    background: none !important;
    border-top: none !important;
}

.card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3) !important;
}

.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.card-hover:hover {
    cursor: pointer !important;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.card-hover:hover .card-body {
    margin-top: 30px !important;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) !important;
}

.card-hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) !important;
    background: #234f6d !important;
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.3785889356) 0%, #455f71 100%) !important;
}

@media (max-width: 768px) {
    .card-bg {
        min-height: 350px !important;
    }
}

@media (max-width: 420px) {
    .card-bg {
        min-height: 300px !important;
    }
}

/* Footer Styles */
.footer-logo {
    box-shadow: -3px -3px 20px 5px rgba(255, 220, 237, 0.5);
}

.footer-link.text-secondary:hover {
    color: white !important;
}

/* Social Icons Styles */
.social-icon {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.social-icon:hover {
    background: #000 !important;
}