* {
    transition: transform 0.3s ease;
}

.gradient-text {
    background: -webkit-linear-gradient(90deg, #457b9d, #FE68AE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.dropdown-toggle:hover {
    font-size: 17px;
}

.dropdown-toggle:hover>.p-style {
    color: #fe68ae !important;
}

.language-section .btn-custom::before,
.language-section .btn-custom::after {
    position: absolute;
    content: "";
    display: none;
}

.language-section .btn-custom::before {
    top: 50%;
    left: 100%;
    border: 15px solid transparent;
    transform: translateY(-50%);
}

.language-section .btn-custom::after {
    width: 100px;
    background-color: #1D3557;
    top: 40px;
    left: 70px;
    border-radius: 0 10px 10px 10px;
}

.language-section .btn-custom:hover::before,
.language-section .btn-custom:hover::after {
    display: block;
}

.language-section .btn-custom:hover::after {
    content: "Copy to Clipboard";
    height: 60px;
}

.language-section .btn-custom:active::after {
    content: "copied";
    height: 30px;
}

.aboutbg {
    background-image: url(../images/aboutbg.png);
}

.achievements {
    background-image: url(../images/achievements.png);
}

.work-card::after,
.work-card::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    background-color: #fe68ae;
    opacity: 0.3;
    transition: 1s;
}

.work-card::after {
    top: 0;
    left: 0;
}

.work-card::before {
    bottom: 0;
    right: 0;
}

.work-card:hover::after,
.work-card:hover::before {
    width: 100%;
    height: 100%;
}

.card-bg:hover {
    transform: scale(0.9) !important;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3) !important;
}

.card-bg:hover .card-img-overlay {
    background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%) !important;
}

.card-hover .card-img-overlay {
    background: linear-gradient(0deg, rgba(35, 79, 109, 0.38) 0%, #455f71 100%) !important;
}

.news-article .article-image {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.news-article.right-image .article-image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%);
}

.news-article:hover .article-image img {
    transform: scale(1.2);
}

.news-article:hover .article-divider {
    width: 100px !important;
}

.tag-r:hover {
    background-color: #fe68ae89 !important;
}

.tag-l:hover {
    background-color: #1d355772 !important;
}

@media (max-width: 768px) {

    .news-article.left-image .article-image,
    .news-article.right-image .article-image {
        clip-path: none;
    }
}